.card{
    margin-bottom: 30px;
}
.card-img { 
    height: 70%;
    width:70%;
  }
.card-footer {
    padding: 0;
    background: #fff;
}
.card-footer button {
    cursor: pointer;
  }
  .card-desc {
    font-size: 14px
  }