<nav class="navbar navbar-expand-md navbar-light fixed-top" style="background:#fff">
  <div class="row">
    <a routerLink="/"><img src="../../../../assets/auctioneer.png" width="50" height="50" style="margin-left:20px;margin-right:20px"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
     
      <ul class="navbar-nav">
          <ng-template #anonymousUser>
            <li class="nav-item">
              <a class="simpleBtn"  (click)="login()">Log In</a>
            </li>
            <!-- <li class="nav-item">
              <a class="actionBtn" routerLink="/admin/products/new">Sell Your Staff</a>
            </li> --> 
          </ng-template>
          <li ngbDropdown *ngIf="appUser; else anonymousUser" class="nav-item dropdown">
            <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ appUser.name }}{{ appUser.firstName }} {{ appUser.lastName }}
            </a>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" routerLink="/profile">Profile</a>
              <ng-container *ngIf="appUser.isAdmin || appUser.admin">
                <a class="dropdown-item" routerLink="admin/statistics">Statistics</a>
                <a class="dropdown-item" routerLink="admin/reports">Reports</a>
              </ng-container>
              <a *ngIf="appUser" class="dropdown-item" (click)="logout()">Logout</a>
            </div>
            
          </li>
          <li *ngIf="appUser" class="nav-item dropdown" style="margin-right: 10px">
            <a href="#" class="notification">
              <span class="fa fa-bell fa-2x"></span>
              <span class="badge">3</span>
            </a>
            <div class="dropdown-content">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
            </li>
          <li class="nav-item">
            <input class="Search" type="text" placeholder="Search">
          </li>
      
          <li class="nav-item" style="margin-left: 20px">
                <!-- <button  *ngIf="shoppingCart.getQuantity(product) === 0; else updateQuantity"
          (click)="addToCart()"
          class="btn btn-secondary btn-block">Add to Card</button> -->
                  <a style="color: #fff" class="actionBtn" routerLink="/admin/products/new">Sell Your Staff</a>
                </li>
        </ul>
      </div>
  </div>
</nav>

<main role="main" class="container">

  <!-- <div class="starter-template">
    <h1>MO Shop</h1>
  </div> -->

</main>
<div id="loginModal" class="modal">

    <!-- Modal content -->
          <div class="form">
      <span (click)="closeModal()" class="close pull-right" style="margin-right:-40px;margin-top: -40px">&times;</span>
      <form #f="ngForm" (ngSubmit)="signUp(f.value)" *ngIf="loginShow" class="login-form">
        <input id="first"[(ngModel)]="user.firstName" name="firstName" type="text" placeholder="first name"/>
        <input id="last" [(ngModel)]="user.lastName" name="lastName" type="text" placeholder="last name"/>
        <input id="pass" [(ngModel)]="user.password" name="password" type="password" placeholder="password"/>
        <input id="email"[(ngModel)]="user.email" name="email" type="text" placeholder="email address"/>
        <input id="phone"[(ngModel)]="user.phone" name="phone" type="text" placeholder="phone number"/>
              <button>create</button>
              <p class="message" (click)="toggle()">Already registered? <a href="#">Sign In</a></p>
            </form>
            <form #f="ngForm" (ngSubmit)="loginUser(f.value)" *ngIf="!loginShow" class="login-form">
              <input id="email"[(ngModel)]="user.email" name="email" type="text" placeholder="username" required/>
              <input id="pass" [(ngModel)]="user.password" name="password" type="password" placeholder="password" required/>
              <button>login</button>
              <p class="message" (click)="toggle()">Not registered? <a href="#">Create an account</a></p>
            </form>
          </div>
  </div>

  