.cardd{
    margin-bottom: 20px;
    background-color: #F8FAFA;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.card-img { 
    height: 150px;
    border-radius: 10px;
  }
  .card-img:hover {
    border: 2px solid blue;
  }
.card-footer {
    padding: 0;
    background: #fff;
}
.card-body {
  padding: 0px;
}
.card-footer button {
    cursor: pointer;
  }
  .card-desc {
    font-size: 14px
  }